.images {
    /* height: 400;
    width: 200; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
img {
    margin: 10px;
    height: 400px;
    width: 300px;
}
.textitems {
    margin: 0px;
}
h2 {
    margin: 0px;
}
p {
    margin: 0px;
}
@media screen and (max-width: 600px){
    .images {
    /* height: 400;
    width: 200; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
img{
    width: fit-content;
}


}